# Assignment Submission 1 - The Hacker Rank

## 1. Python

#### Problem 1:
**Task** 
Given an integer, , perform the following conditional actions:

* If `n` is odd, print *Weird*
* If `n` is even and in the inclusive range of 2 to 5, print *Not Weird*
* If `n` is even and in the inclusive range of 6 to 20, print *Weird*
* If `n` is even and greater than 20, print *Not Weird*

**Input Format**

A single line containing a positive integer, .

**Constrants**

$\ 1\leq n\leq 100 .$

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

In [30]:
n=int(input())
if n == 2 or n==4 or (n>20 and n%2==0):
    print("Not Weird")
else:
    print("Weird")

23
Weird

#### Problem 2:
**Task** 
Read two integers from STDIN and print three lines where:

1. The first line contains the sum of the two numbers.
2. The second line contains the difference of the two numbers (first - second).
3. The third line contains the product of the two numbers.

**Input Format**

The first line contains the first integer,`a` . The second line contains the second integer,`b` .

**Constrants**

$1\leq a\leq 10^{10}$

$1\leq b\leq 10^{10}$

**Output Format**

Print the three lines as explained above
**Sample Input 0**
3
2
**Sample Output 0**
5
1
6
**Explanation 0**

$3+2\Rightarrow 5$

$3-2\Rightarrow 1$

$3*2\Rightarrow 6$

In [48]:
a = int(input())
b = int(input())
print (a+b)
print (a-b)
print (a*b)

3
2
5
1
6

#### Problem 3:
Read an integer `N`.

Without using any string methods, try to print the following:

`123...N`

Note that "`...`" represents the values in between.

**Input Format**

The first line contains an integer `N`.

**Output Format**

Output the answer as explained in the task.

**Sample Input 0**

3

**Sample Output 0**

123

In [72]:
n=int(input())
out="".join(str(i) for i in range(1,n+1))
print(out)

3
123

### Problem 3 

**Input Format**

The first line contains `n`. The second line contains an array `A[]`  of `n` integers each separated by a space.

**Constraints**

$2\leq n\leq 10$

$-100\leq A[i]\leq 100$

**Output Format**
Print the runner-up score

In [29]:
n = int(input())
arr = list(map(int, input().split()))
new=[]
m=max(arr)
for item in arr:
    if item !=m:
        new.append(item)
print(max(new))

2
2 5 6 6 4
5

### Problem 4

Given the names and grades for each student in a Physics class of `N` students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

**Note**: If there are multiple students with the same grade, order their names alphabetically and print each name on a new line.

**Input Format**

The first line contains an integer,`N` , the number of students. 
The `2N` subsequent lines describe each student over 2 lines; the first line contains a student's name, and the second line contains their grade.

**Constraints**

$2\leq N \leq 5$

There will always be one or more students having the second lowest grade.

**Output Format**

Print the name(s) of any student(s) having the second lowest grade in Physics; if there are multiple students, order their names alphabetically and print each one on a new line.

In [2]:
listName=[]
listScore=[]
out=[]
for _ in range(int(input())):
    name = input()
    listName.append(name)
    score = float(input())
    listScore.append(score)
    
new=listScore.copy()

mini=min(listScore)

while min(listScore)==mini:
    listScore.remove(min(listScore))

mini=min(listScore)
for index,score in enumerate(new):
    if score==mini:
        out.append(listName[index])
out.sort()
for name in out:
    print(name)

4
ngan
1
han
2
tha
3
thin
2
['han', 'thin']

### Problem 3

You have a record of `N` students. Each record contains the student's name, and their percent marks in Maths, Physics and Chemistry. The marks can be floating values. The user enters some integer `N` followed by the names and marks for `N` students. You are required to save the record in a dictionary data type. The user then enters a student's name. Output the average percentage marks obtained by that student, correct to two decimal places.

**Input Format**

The first line contains the integer `N`, the number of students. The next `N` lines contains the name and marks obtained by that student separated by a space. The final line contains the name of a particular student previously listed.

**Constraints**

$2\leq N\leq 10$

$0\leq Marks \leq 100$

**OutputFormat**
Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.

In [ ]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    avg=round(sum(scores)/len(scores),2)
    student_marks[name] = avg
    
query_name = input()

print("{:.2f}".format(student_marks[query_name]))

## 2. SQL

### Problem 1

Query all columns (attributes) for every row in the **CITY** table.

**Input Format**
The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [ ]:
 SELECT * from city;

### Problem 2

Query all columns for a city in **CITY** with the ID 1661.

In [ ]:
SELECT * from city WHERE ID=1661

### Problem 3

Query all attributes of every Japanese city in the **CITY** table. The COUNTRYCODE for Japan is JPN.

In [ ]:
SELECT * FROM city WHERE COUNTRYCODE LIKE "JPN"

### Problem 3

Query the names of all the Japanese cities in the **CITY** table. The COUNTRYCODE for Japan is JPN.

In [ ]:
SELECT NAME FROM city WHERE COUNTRYCODE LIKE "JPN"

### Problem 4

Query a list of CITY and STATE from the **STATION** table.

| Field | Type |
|:----:|:---:|
|ID|VARCHAR2(21)|
|CITY|VARCHAR2(2)|
|LAT_N|NUMBER|
|LONG_W|NUMBER|

where LAT_N is the northern latitude and LONG_W is the western longitude.